body {
    background-color: #222;
}

p {
    color: #ccc;
}

h2, span {
    color: azure;
}


.invisible{
    display: none;
}

.form-input {
    background-color: #888;
    color: black;
    
}

.form-input::placeholder{
    color: black;
    opacity:  1;
}